body {
    margin: 0;
    padding: 4px;
    width: 180px;
    background: #ffffff;
    color: #000000;
    font: 11px sans-serif;
}
.container {
    margin: 0;
    padding: 0;
}
#entry {
    margin: 0;
    padding: 4px;
    border: 1px inset #ddd;
    width: 170px;
}
#entry:focus {
    outline: none;
}
#stack {
    margin: 6px 0 0 0;
    padding: 1px 0 0 0;
    border: 1px transparent;
    max-height: 600px;
    overflow-y: auto;
}
#stack li {
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#fff), to(#eee));
    border: 1px solid #999;
    margin: -1px 0 0 0;
    padding: 4px;
}
#placeholder {
    text-align: center;
    font-style: italic;
    color: #ccc;
}
#error {
    margin: 11px 0 0 0;
    padding: 0;
    display: none;
    color: #900;
}
